USE [master]
GO
CREATE DATABASE [Education]
GO
USE [Education]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 8/28/2021 10:30:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 8/28/2021 10:30:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Slug] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Sumary] [nvarchar](max) NULL,
	[CategoryId] [int] NOT NULL,
	[UserId] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[User_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Blogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bussinesses]    Script Date: 8/28/2021 10:30:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bussinesses](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Bussinesses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candicates]    Script Date: 8/28/2021 10:30:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candicates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[ParentName] [nvarchar](max) NULL,
	[ParentPhone] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Gender] [bit] NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Birthday] [datetime] NOT NULL,
	[JoiningDate] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Candicates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/28/2021 10:30:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[ParentId] [int] NOT NULL,
	[UserId] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[User_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassRoomFaulties]    Script Date: 8/28/2021 10:30:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassRoomFaulties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [bit] NOT NULL,
	[RoomId] [int] NOT NULL,
	[FaultyId] [int] NULL,
	[Faulty_Id] [int] NULL,
 CONSTRAINT [PK_dbo.ClassRoomFaulties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassRooms]    Script Date: 8/28/2021 10:30:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassRooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[CourseId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.ClassRooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 8/28/2021 10:30:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Slug] [nvarchar](max) NULL,
	[StudyTime] [int] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[SalePrice] [float] NOT NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[MaximumCandicate] [int] NOT NULL,
	[UserId] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[User_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 8/28/2021 10:30:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[EventDate] [datetime] NOT NULL,
	[StartTime] [nvarchar](max) NULL,
	[EndTime] [nvarchar](max) NULL,
	[UserId] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[User_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Exams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faulties]    Script Date: 8/28/2021 10:30:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faulties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Gender] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Salary] [float] NOT NULL,
	[Qualification] [nvarchar](max) NULL,
	[Birthday] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Faulties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupPermissions]    Script Date: 8/28/2021 10:30:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupPermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupUserId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.GroupPermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupUsers]    Script Date: 8/28/2021 10:30:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.GroupUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningInfoes]    Script Date: 8/28/2021 10:30:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningInfoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TuitionPaid] [float] NULL,
	[Tuition] [float] NULL,
	[Point] [int] NULL,
	[Number] [int] NULL,
	[UserId] [int] NULL,
	[Status] [bit] NOT NULL,
	[ExamId] [int] NULL,
	[RoomId] [int] NULL,
	[CandicateId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[ClassRoom_Id] [int] NULL,
 CONSTRAINT [PK_dbo.LearningInfoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 8/28/2021 10:30:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[BussinessId] [nvarchar](128) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Permissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagBlogs]    Script Date: 8/28/2021 10:30:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagBlogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BlogId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TagBlogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 8/28/2021 10:30:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/28/2021 10:30:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[ResetPasswordCode] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[GroupUserId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Blogs] ON 

SET IDENTITY_INSERT [dbo].[Blogs] OFF
GO
INSERT [dbo].[Bussinesses] ([Id], [Name], [Status]) VALUES (N'BatchController', N'Manager BatchController', 0)
INSERT [dbo].[Bussinesses] ([Id], [Name], [Status]) VALUES (N'BlogsController', N'Manager BlogsController', 0)
INSERT [dbo].[Bussinesses] ([Id], [Name], [Status]) VALUES (N'BussinessesController', N'Manager BussinessesController', 0)
GO
SET IDENTITY_INSERT [dbo].[Candicates] ON 

INSERT [dbo].[Candicates] ([Id], [Code], [Name], [Email], [ParentName], [ParentPhone], [Image], [Gender], [Phone], [Address], [Birthday], [JoiningDate], [UserId], [CreatedAt], [UpdatedAt]) VALUES (6, N'A1111', N'Nguyen Van An', N'nguyenvananh2k@gmail.com', N'Nguyen Van Anh', N'0359309453', N'A1111-14-47-26-8-2021.jpg', 1, N'0359309452', N'Ha Noi', CAST(N'1998-04-01T00:00:00.000' AS DateTime), CAST(N'2021-09-09T00:00:00.000' AS DateTime), 39, CAST(N'2021-08-26T00:00:00.000' AS DateTime), CAST(N'2021-08-26T00:00:00.000' AS DateTime))
INSERT [dbo].[Candicates] ([Id], [Code], [Name], [Email], [ParentName], [ParentPhone], [Image], [Gender], [Phone], [Address], [Birthday], [JoiningDate], [UserId], [CreatedAt], [UpdatedAt]) VALUES (7, N'A1112', N'Nguyen Thi An', N'nguyenthian2k@gmail.com', N'Nguyen Dinh Thi', N'0359309451', N'A1112-14-47-26-8-2021.jpg', 0, N'0359309458', N'Vinh Phuc', CAST(N'1998-04-01T00:00:00.000' AS DateTime), CAST(N'2021-09-09T00:00:00.000' AS DateTime), 40, CAST(N'2021-08-26T00:00:00.000' AS DateTime), CAST(N'2021-08-26T00:00:00.000' AS DateTime))
INSERT [dbo].[Candicates] ([Id], [Code], [Name], [Email], [ParentName], [ParentPhone], [Image], [Gender], [Phone], [Address], [Birthday], [JoiningDate], [UserId], [CreatedAt], [UpdatedAt]) VALUES (8, N'A1113', N'Trieu Viet Anh', N'trieuvietanh2k@gmail.com', N'Nguyen Van Anh', N'0359309453', N'A1113-14-47-26-8-2021.jpg', 1, N'0359309452', N'Vinh Phuc', CAST(N'1998-04-01T00:00:00.000' AS DateTime), CAST(N'2021-09-09T00:00:00.000' AS DateTime), 41, CAST(N'2021-08-26T00:00:00.000' AS DateTime), CAST(N'2021-08-26T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Candicates] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [ParentId], [UserId], [CreatedAt], [UpdatedAt], [User_Id]) VALUES (1, N'Art & Design', 0, NULL, CAST(N'2021-08-26T00:00:00.000' AS DateTime), CAST(N'2021-08-26T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Categories] ([Id], [Name], [ParentId], [UserId], [CreatedAt], [UpdatedAt], [User_Id]) VALUES (2, N'Tips', 0, NULL, CAST(N'2021-08-26T00:00:00.000' AS DateTime), CAST(N'2021-08-26T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Categories] ([Id], [Name], [ParentId], [UserId], [CreatedAt], [UpdatedAt], [User_Id]) VALUES (3, N'Machine Learning', 0, NULL, CAST(N'2021-08-26T00:00:00.000' AS DateTime), CAST(N'2021-08-26T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[ClassRoomFaulties] ON 

INSERT [dbo].[ClassRoomFaulties] ([Id], [Status], [RoomId], [FaultyId], [Faulty_Id]) VALUES (1, 1, 1, 5, NULL)
INSERT [dbo].[ClassRoomFaulties] ([Id], [Status], [RoomId], [FaultyId], [Faulty_Id]) VALUES (2, 1, 2, 6, NULL)
INSERT [dbo].[ClassRoomFaulties] ([Id], [Status], [RoomId], [FaultyId], [Faulty_Id]) VALUES (3, 1, 3, 7, NULL)
SET IDENTITY_INSERT [dbo].[ClassRoomFaulties] OFF
GO
SET IDENTITY_INSERT [dbo].[ClassRooms] ON 

INSERT [dbo].[ClassRooms] ([Id], [Code], [Name], [StartDate], [EndDate], [CourseId], [UserId], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, N'A8593', N'Lop So 1', CAST(N'2021-09-09T00:00:00.000' AS DateTime), CAST(N'2022-09-09T00:00:00.000' AS DateTime), 1, 1, 1, CAST(N'2021-08-26T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[ClassRooms] ([Id], [Code], [Name], [StartDate], [EndDate], [CourseId], [UserId], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, N'J5050', N'Lop So 2', CAST(N'2021-08-08T00:00:00.000' AS DateTime), CAST(N'2022-08-08T00:00:00.000' AS DateTime), 1, 1, 2, CAST(N'2021-08-26T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[ClassRooms] ([Id], [Code], [Name], [StartDate], [EndDate], [CourseId], [UserId], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, N'C8279', N'Lop So 3', CAST(N'2021-09-09T00:00:00.000' AS DateTime), CAST(N'2022-09-09T00:00:00.000' AS DateTime), 1, 1, 1, CAST(N'2021-08-26T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ClassRooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Exams] ON 

INSERT [dbo].[Exams] ([Id], [Name], [Code], [Note], [EventDate], [StartTime], [EndTime], [UserId], [CreatedAt], [UpdatedAt], [User_Id]) VALUES (1, N'English', N'EX4959919', NULL, CAST(N'2021-08-31T00:00:00.000' AS DateTime), N'18:11', N'19:11', 1, CAST(N'2021-08-26T00:00:00.000' AS DateTime), CAST(N'2021-08-26T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Exams] ([Id], [Name], [Code], [Note], [EventDate], [StartTime], [EndTime], [UserId], [CreatedAt], [UpdatedAt], [User_Id]) VALUES (2, N'Class Test', N'EX8884275', NULL, CAST(N'2021-08-27T00:00:00.000' AS DateTime), N'22:17', N'23:18', 1, CAST(N'2021-08-26T00:00:00.000' AS DateTime), CAST(N'2021-08-26T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Exams] ([Id], [Name], [Code], [Note], [EventDate], [StartTime], [EndTime], [UserId], [CreatedAt], [UpdatedAt], [User_Id]) VALUES (3, N'Half Yearly', N'EX0641235', NULL, CAST(N'2021-09-30T00:00:00.000' AS DateTime), N'16:10', N'17:40', 1, CAST(N'2021-08-26T00:00:00.000' AS DateTime), CAST(N'2021-08-26T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Exams] OFF
GO
SET IDENTITY_INSERT [dbo].[Faulties] ON 

INSERT [dbo].[Faulties] ([Id], [Code], [Name], [Email], [Address], [Gender], [Image], [Phone], [Salary], [Qualification], [Birthday], [UserId], [CreatedAt], [UpdatedAt]) VALUES (4, N'T1200', N'Tran Quoc Tuan', N'tranquoctuan@gmail.com', N'Ha Noi', 1, N'Tuan97-14-56-26-8-2021.jpg', N'0987976540', 2500, N'Lecturers', CAST(N'1997-04-01T00:00:00.000' AS DateTime), 10, CAST(N'2021-08-26T00:00:00.000' AS DateTime), CAST(N'2021-08-26T00:00:00.000' AS DateTime))
INSERT [dbo].[Faulties] ([Id], [Code], [Name], [Email], [Address], [Gender], [Image], [Phone], [Salary], [Qualification], [Birthday], [UserId], [CreatedAt], [UpdatedAt]) VALUES (5, N'T1201', N'Nguyen Van Hiep', N'nguyenvantiep@gmail.com', N'Vinh Phuc', 1, N'VanHiep97-14-56-26-8-2021.jpg', N'0987976541', 1800, N'Lecturers', CAST(N'1997-04-02T00:00:00.000' AS DateTime), 11, CAST(N'2021-08-26T00:00:00.000' AS DateTime), CAST(N'2021-08-26T00:00:00.000' AS DateTime))
INSERT [dbo].[Faulties] ([Id], [Code], [Name], [Email], [Address], [Gender], [Image], [Phone], [Salary], [Qualification], [Birthday], [UserId], [CreatedAt], [UpdatedAt]) VALUES (6, N'T1202', N'Nguyen Van Huy', N'nguyenvanhuy@gmail.com', N'Da Nang', 1, N'VanHuy97-14-56-26-8-2021.jpg', N'0987976542', 1800, N'Lecturers', CAST(N'1997-04-02T00:00:00.000' AS DateTime), 12, CAST(N'2021-08-26T00:00:00.000' AS DateTime), CAST(N'2021-08-26T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Faulties] OFF
GO
SET IDENTITY_INSERT [dbo].[GroupUsers] ON 

INSERT [dbo].[GroupUsers] ([Id], [Name], [IsAdmin]) VALUES (1, N'ADMIN', 1)
INSERT [dbo].[GroupUsers] ([Id], [Name], [IsAdmin]) VALUES (2, N'CANDICATE', 0)
INSERT [dbo].[GroupUsers] ([Id], [Name], [IsAdmin]) VALUES (3, N'FAULTY', 0)
SET IDENTITY_INSERT [dbo].[GroupUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[LearningInfoes] ON 

INSERT [dbo].[LearningInfoes] ([Id], [TuitionPaid], [Tuition], [Point], [Number], [UserId], [Status], [ExamId], [RoomId], [CandicateId], [CreatedAt], [UpdatedAt], [ClassRoom_Id]) VALUES (1, 32, 32, NULL, NULL, 1, 0, NULL, 1, 6, CAST(N'2021-08-26T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[LearningInfoes] ([Id], [TuitionPaid], [Tuition], [Point], [Number], [UserId], [Status], [ExamId], [RoomId], [CandicateId], [CreatedAt], [UpdatedAt], [ClassRoom_Id]) VALUES (2, 32, 32, NULL, NULL, 1, 0, NULL, 1, 7, CAST(N'2021-08-26T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[LearningInfoes] ([Id], [TuitionPaid], [Tuition], [Point], [Number], [UserId], [Status], [ExamId], [RoomId], [CandicateId], [CreatedAt], [UpdatedAt], [ClassRoom_Id]) VALUES (3, 32, 32, NULL, NULL, 1, 0, NULL, 1, 8, CAST(N'2021-08-26T00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[LearningInfoes] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([Id], [Name], [Description], [BussinessId], [Status]) VALUES (1, N'BatchControllerAddStudent', N'Add Student', N'BatchController', 0)
INSERT [dbo].[Permissions] ([Id], [Name], [Description], [BussinessId], [Status]) VALUES (2, N'BatchControllerCreate', N'Create', N'BatchController', 0)
INSERT [dbo].[Permissions] ([Id], [Name], [Description], [BussinessId], [Status]) VALUES (3, N'BatchControllerDetails', N'View Deatail', N'BatchController', 0)
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[TagBlogs] ON 

INSERT [dbo].[TagBlogs] ([Id], [BlogId], [TagId]) VALUES (13, 5, 9)
INSERT [dbo].[TagBlogs] ([Id], [BlogId], [TagId]) VALUES (14, 5, 10)
INSERT [dbo].[TagBlogs] ([Id], [BlogId], [TagId]) VALUES (15, 1, 1)
SET IDENTITY_INSERT [dbo].[TagBlogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([Id], [Content]) VALUES (1, N'Challenge')
INSERT [dbo].[Tags] ([Id], [Content]) VALUES (2, N'Learning')
INSERT [dbo].[Tags] ([Id], [Content]) VALUES (3, N'Extractly')
SET IDENTITY_INSERT [dbo].[Tags] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [Password], [ResetPasswordCode], [Email], [FullName], [GroupUserId], [CreatedAt], [UpdatedAt]) VALUES (1, N'Admin', N'e64b78fc3bc91bcbc7dc232ba8ec59e0', NULL, N'zealeducationaptech@gmail.com', N'Zeal Admin', 1, CAST(N'2021-08-26T00:00:00.000' AS DateTime), CAST(N'2021-08-26T00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([Id], [UserName], [Password], [ResetPasswordCode], [Email], [FullName], [GroupUserId], [CreatedAt], [UpdatedAt]) VALUES (10, N'Tuan97', N'6168021b8a1fccf02b325b51dc6e2768', NULL, N'tranquoctuan@gmail.com', N'Tran Quoc Tuan', 3, CAST(N'2021-08-26T00:00:00.000' AS DateTime), CAST(N'2021-08-26T00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([Id], [UserName], [Password], [ResetPasswordCode], [Email], [FullName], [GroupUserId], [CreatedAt], [UpdatedAt]) VALUES (11, N'VanHiep97', N'6168021b8a1fccf02b325b51dc6e2768', NULL, N'nguyenvantiep@gmail.com', N'Nguyen Van Hiep', 3, CAST(N'2021-08-26T00:00:00.000' AS DateTime), CAST(N'2021-08-26T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Blogs_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_dbo.Blogs_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Blogs_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_dbo.Blogs_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Blogs_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_dbo.Blogs_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Candicates]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Candicates_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Candicates] CHECK CONSTRAINT [FK_dbo.Candicates_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Categories_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_dbo.Categories_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Categories_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_dbo.Categories_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[ClassRoomFaulties]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClassRoomFaulties_dbo.ClassRooms_RoomId] FOREIGN KEY([RoomId])
REFERENCES [dbo].[ClassRooms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassRoomFaulties] CHECK CONSTRAINT [FK_dbo.ClassRoomFaulties_dbo.ClassRooms_RoomId]
GO
ALTER TABLE [dbo].[ClassRoomFaulties]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClassRoomFaulties_dbo.Faulties_Faulty_Id] FOREIGN KEY([Faulty_Id])
REFERENCES [dbo].[Faulties] ([Id])
GO
ALTER TABLE [dbo].[ClassRoomFaulties] CHECK CONSTRAINT [FK_dbo.ClassRoomFaulties_dbo.Faulties_Faulty_Id]
GO
ALTER TABLE [dbo].[ClassRoomFaulties]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClassRoomFaulties_dbo.Faulties_FaultyId] FOREIGN KEY([FaultyId])
REFERENCES [dbo].[Faulties] ([Id])
GO
ALTER TABLE [dbo].[ClassRoomFaulties] CHECK CONSTRAINT [FK_dbo.ClassRoomFaulties_dbo.Faulties_FaultyId]
GO
ALTER TABLE [dbo].[ClassRooms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClassRooms_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassRooms] CHECK CONSTRAINT [FK_dbo.ClassRooms_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[ClassRooms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClassRooms_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassRooms] CHECK CONSTRAINT [FK_dbo.ClassRooms_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Courses_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_dbo.Courses_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Courses_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_dbo.Courses_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Exams_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_dbo.Exams_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Exams_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_dbo.Exams_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[GroupPermissions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GroupPermissions_dbo.GroupUsers_GroupUserId] FOREIGN KEY([GroupUserId])
REFERENCES [dbo].[GroupUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupPermissions] CHECK CONSTRAINT [FK_dbo.GroupPermissions_dbo.GroupUsers_GroupUserId]
GO
ALTER TABLE [dbo].[GroupPermissions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GroupPermissions_dbo.Permissions_PermissionId] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupPermissions] CHECK CONSTRAINT [FK_dbo.GroupPermissions_dbo.Permissions_PermissionId]
GO
ALTER TABLE [dbo].[Permissions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Permissions_dbo.Bussinesses_BussinessId] FOREIGN KEY([BussinessId])
REFERENCES [dbo].[Bussinesses] ([Id])
GO
ALTER TABLE [dbo].[Permissions] CHECK CONSTRAINT [FK_dbo.Permissions_dbo.Bussinesses_BussinessId]
GO
ALTER TABLE [dbo].[TagBlogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TagBlogs_dbo.Blogs_BlogId] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blogs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TagBlogs] CHECK CONSTRAINT [FK_dbo.TagBlogs_dbo.Blogs_BlogId]
GO
ALTER TABLE [dbo].[TagBlogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TagBlogs_dbo.Tags_TagId] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TagBlogs] CHECK CONSTRAINT [FK_dbo.TagBlogs_dbo.Tags_TagId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.GroupUsers_GroupUserId] FOREIGN KEY([GroupUserId])
REFERENCES [dbo].[GroupUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.GroupUsers_GroupUserId]
GO
